<app-page-container>
  <app-portlet title="Todos">
    <app-grid 
      [data]="todos" 
      [cells]="gridCells" 
      [selectedRow]="selectedRow"
      (onRowSelect)="onRowSelect($event)">
    </app-grid>
    <app-crud-buttons
      (onNew)="onNew($event)"
      (onEdit)="onEdit($event)"
      (onDelete)="onDelete($event)"
      [editDisabled]="!selectedRow || !selectedRow._id"
      [deleteDisabled]="!selectedRow || !selectedRow._id">
    </app-crud-buttons>
    <div *ngIf="error" class="margin-top-25px">
      <ngb-alert type="danger">
        <strong>Oops!</strong> {{error}}
      </ngb-alert>
    </div>        
  </app-portlet>
</app-page-container>